In [1]:
import pandas as pd
import numpy as np

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [2]:
#Load in the dataset

df = pd.read_csv('scores.csv')
print(df)

    School ID                                        School Name    Borough  \
0      02M260                 Clinton School Writers and Artists  Manhattan
1      06M211  Inwood Early College for Health and Informatio...  Manhattan
2      01M539  New Explorations into Science, Technology and ...  Manhattan
3      02M294                               Essex Street Academy  Manhattan
4      02M308                       Lower Manhattan Arts Academy  Manhattan
..        ...                                                ...        ...
430    27Q302  Queens High School for Information, Research, ...     Queens
431    27Q324  Rockaway Park High School for Environmental Su...     Queens
432    27Q262                   Channel View School for Research     Queens
433    27Q351                    Rockaway Collegiate High School     Queens
434    27Q323                                  Scholars' Academy     Queens

    Building Code              Street Address           City State  Zip Code  \
0            M933        425 West 33rd Street      Manhattan    NY     10001
1            M052          650 Academy Street      Manhattan    NY     10002
2            M022         111 Columbia Street      Manhattan    NY     10002
3            M445            350 Grand Street      Manhattan    NY     10002
4            M445            350 Grand Street      Manhattan    NY     10002
..            ...                         ...            ...   ...       ...
430          Q465        8-21 Bay 25th Street   Far Rockaway    NY     11691
431          Q410  100-00 Beach Channel Drive  Rockaway Park    NY     11694
432          Q410  100-00 Beach Channel Drive  Rockaway Park    NY     11694
433          Q410  100-00 Beach Channel Drive  Rockaway Park    NY     11694
434          Q180      320 Beach 104th Street  Rockaway Park    NY     11694

     Latitude  Longitude  ... End Time Student Enrollment Percent White  \
0    40.75321  -73.99786  ...      NaN                NaN           NaN
1    40.86605  -73.92486  ...  3:00 PM               87.0          3.4%
2    40.71873  -73.97943  ...  4:00 PM             1735.0         28.6%
3    40.71687  -73.98953  ...  2:45 PM              358.0         11.7%
4    40.71687  -73.98953  ...  3:00 PM              383.0          3.1%
..        ...        ...  ...      ...                ...           ...
430  40.60199  -73.76283  ...  4:10 PM              381.0          2.1%
431  40.58601  -73.82309  ...  3:30 PM              368.0         14.7%
432  40.58601  -73.82309  ...  3:04 PM              683.0         10.7%
433  40.58601  -73.82309  ...  4:20 PM              397.0          3.8%
434  40.58413  -73.82568  ...  3:00 PM             1302.0         34.7%

     Percent Black Percent Hispanic Percent Asian Average Score (SAT Math)  \
0              NaN              NaN           NaN                      NaN
1            21.8%            67.8%          4.6%                      NaN
2            13.3%            18.0%         38.5%                    657.0
3            38.5%            41.3%          5.9%                    395.0
4            28.2%            56.9%          8.6%                    418.0
..             ...              ...           ...                      ...
430          49.1%            43.6%          4.2%                    372.0
431          46.7%            30.2%          3.5%                    357.0
432          53.2%            29.1%          6.0%                    427.0
433          52.6%            33.5%          5.0%                    399.0
434          22.7%            19.6%         21.4%                    588.0

    Average Score (SAT Reading)  Average Score (SAT Writing)  Percent Tested
0                           NaN                          NaN             NaN
1                           NaN                          NaN             NaN
2                         601.0                        601.0           91.0%
3                         411.0                        387.0           78.9%
4                         428.0                        415.0           65.1%
..                          ...                          ...             ...
430                       362.0                        352.0           44.6%
431                       381.0                        376.0           38.5%
432                       430.0                        423.0           76.6%
433                       403.0                        405.0           46.5%
434                       560.0                        568.0           99.2%

[435 rows x 22 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 435 entries, 0 to 434
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   School ID                    435 non-null    object
 1   School Name                  435 non-null    object
 2   Borough                      435 non-null    object
 3   Building Code                435 non-null    object
 4   Street Address               435 non-null    object
 5   City                         435 non-null    object
 6   State                        435 non-null    object
 7   Zip Code                     435 non-null    int64
 8   Latitude                     435 non-null    float64
 9   Longitude                    435 non-null    float64
 10  Phone Number                 435 non-null    object
 11  Start Time                   431 non-null    object
 12  End Time                     431 non-null    object
 13  Student Enrollment           428 non-null    float64
 14  Percent White                428 non-null    object
 15  Percent Black                428 non-null    object
 16  Percent Hispanic             428 non-null    object
 17  Percent Asian                428 non-null    object
 18  Average Score (SAT Math)     375 non-null    float64
 19  Average Score (SAT Reading)  375 non-null    float64
 20  Average Score (SAT Writing)  375 non-null    float64
 21  Percent Tested               386 non-null    object
dtypes: float64(6), int64(1), object(15)
memory usage: 74.9+ KB

In [4]:
#clean dataset

In [5]:
#1. Missing values dropped and save dataset

df2 = df.dropna(subset = ['Start Time', 'End Time','Student Enrollment', 'Percent White', 'Percent Black', 'Percent Hispanic',
                                'Percent Asian', 'Percent Tested'])
df2 = df2.reset_index(drop=True)

# Display the first few rows of the dataset
print(df2.head())

  School ID                                        School Name    Borough  \
0    01M539  New Explorations into Science, Technology and ...  Manhattan
1    02M294                               Essex Street Academy  Manhattan
2    02M308                       Lower Manhattan Arts Academy  Manhattan
3    02M545    High School for Dual Language and Asian Studies  Manhattan
4    01M292      Henry Street School for International Studies  Manhattan

  Building Code       Street Address       City State  Zip Code  Latitude  \
0          M022  111 Columbia Street  Manhattan    NY     10002  40.71873
1          M445     350 Grand Street  Manhattan    NY     10002  40.71687
2          M445     350 Grand Street  Manhattan    NY     10002  40.71687
3          M445     350 Grand Street  Manhattan    NY     10002  40.71687
4          M056     220 Henry Street  Manhattan    NY     10002  40.71376

   Longitude  ... End Time Student Enrollment Percent White  Percent Black  \
0  -73.97943  ...  4:00 PM             1735.0         28.6%          13.3%
1  -73.98953  ...  2:45 PM              358.0         11.7%          38.5%
2  -73.98953  ...  3:00 PM              383.0          3.1%          28.2%
3  -73.98953  ...  3:35 PM              416.0          1.7%           3.1%
4  -73.98526  ...  3:30 PM              255.0          3.9%          24.4%

  Percent Hispanic Percent Asian Average Score (SAT Math)  \
0            18.0%         38.5%                    657.0
1            41.3%          5.9%                    395.0
2            56.9%          8.6%                    418.0
3             5.5%         88.9%                    613.0
4            56.6%         13.2%                    410.0

  Average Score (SAT Reading)  Average Score (SAT Writing)  Percent Tested
0                       601.0                        601.0           91.0%
1                       411.0                        387.0           78.9%
2                       428.0                        415.0           65.1%
3                       453.0                        463.0           95.9%
4                       406.0                        381.0           59.7%

[5 rows x 22 columns]

In [6]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 385 entries, 0 to 384
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   School ID                    385 non-null    object
 1   School Name                  385 non-null    object
 2   Borough                      385 non-null    object
 3   Building Code                385 non-null    object
 4   Street Address               385 non-null    object
 5   City                         385 non-null    object
 6   State                        385 non-null    object
 7   Zip Code                     385 non-null    int64
 8   Latitude                     385 non-null    float64
 9   Longitude                    385 non-null    float64
 10  Phone Number                 385 non-null    object
 11  Start Time                   385 non-null    object
 12  End Time                     385 non-null    object
 13  Student Enrollment           385 non-null    float64
 14  Percent White                385 non-null    object
 15  Percent Black                385 non-null    object
 16  Percent Hispanic             385 non-null    object
 17  Percent Asian                385 non-null    object
 18  Average Score (SAT Math)     374 non-null    float64
 19  Average Score (SAT Reading)  374 non-null    float64
 20  Average Score (SAT Writing)  374 non-null    float64
 21  Percent Tested               385 non-null    object
dtypes: float64(6), int64(1), object(15)
memory usage: 66.3+ KB

In [7]:
#For SAT scores, missing values will be inserted with averages of each subject

math_avg = df2['Average Score (SAT Math)'].mean()
reading_avg = df2['Average Score (SAT Reading)'].mean()
writing_avg = df2['Average Score (SAT Writing)'].mean()

df2['Average Score (SAT Math)'] = df2['Average Score (SAT Math)'].fillna(math_avg)
df2['Average Score (SAT Reading)'] = df2['Average Score (SAT Reading)'].fillna(math_avg)
df2['Average Score (SAT Writing)'] = df2['Average Score (SAT Writing)'].fillna(math_avg)

In [8]:
df2.isna().sum()

School ID                      0
School Name                    0
Borough                        0
Building Code                  0
Street Address                 0
City                           0
State                          0
Zip Code                       0
Latitude                       0
Longitude                      0
Phone Number                   0
Start Time                     0
End Time                       0
Student Enrollment             0
Percent White                  0
Percent Black                  0
Percent Hispanic               0
Percent Asian                  0
Average Score (SAT Math)       0
Average Score (SAT Reading)    0
Average Score (SAT Writing)    0
Percent Tested                 0
dtype: int64

In [9]:
df2

,School ID,School Name,Borough,Building Code,Street Address,City,State,Zip Code,Latitude,Longitude,...,End Time,Student Enrollment,Percent White,Percent Black,Percent Hispanic,Percent Asian,Average Score (SAT Math),Average Score (SAT Reading),Average Score (SAT Writing),Percent Tested
0,01M539,"New Explorations into Science, Technology and ...",Manhattan,M022,111 Columbia Street,Manhattan,NY,10002,40.71873,-73.97943,...,4:00 PM,1735.0,28.6%,13.3%,18.0%,38.5%,657.0,601.0,601.0,91.0%
1,02M294,Essex Street Academy,Manhattan,M445,350 Grand Street,Manhattan,NY,10002,40.71687,-73.98953,...,2:45 PM,358.0,11.7%,38.5%,41.3%,5.9%,395.0,411.0,387.0,78.9%
2,02M308,Lower Manhattan Arts Academy,Manhattan,M445,350 Grand Street,Manhattan,NY,10002,40.71687,-73.98953,...,3:00 PM,383.0,3.1%,28.2%,56.9%,8.6%,418.0,428.0,415.0,65.1%
3,02M545,High School for Dual Language and Asian Studies,Manhattan,M445,350 Grand Street,Manhattan,NY,10002,40.71687,-73.98953,...,3:35 PM,416.0,1.7%,3.1%,5.5%,88.9%,613.0,453.0,463.0,95.9%
4,01M292,Henry Street School for International Studies,Manhattan,M056,220 Henry Street,Manhattan,NY,10002,40.71376,-73.98526,...,3:30 PM,255.0,3.9%,24.4%,56.6%,13.2%,410.0,406.0,381.0,59.7%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,27Q302,"Queens High School for Information, Research, ...",Queens,Q465,8-21 Bay 25th Street,Far Rockaway,NY,11691,40.60199,-73.76283,...,4:10 PM,381.0,2.1%,49.1%,43.6%,4.2%,372.0,362.0,352.0,44.6%
381,27Q324,Rockaway Park High School for Environmental Su...,Queens,Q410,100-00 Beach Channel Drive,Rockaway Park,NY,11694,40.58601,-73.82309,...,3:30 PM,368.0,14.7%,46.7%,30.2%,3.5%,357.0,381.0,376.0,38.5%
382,27Q262,Channel View School for Research,Queens,Q410,100-00 Beach Channel Drive,Rockaway Park,NY,11694,40.58601,-73.82309,...,3:04 PM,683.0,10.7%,53.2%,29.1%,6.0%,427.0,430.0,423.0,76.6%
383,27Q351,Rockaway Collegiate High School,Queens,Q410,100-00 Beach Channel Drive,Rockaway Park,NY,11694,40.58601,-73.82309,...,4:20 PM,397.0,3.8%,52.6%,33.5%,5.0%,399.0,403.0,405.0,46.5%
384,27Q323,Scholars' Academy,Queens,Q180,320 Beach 104th Street,Rockaway Park,NY,11694,40.58413,-73.82568,...,3:00 PM,1302.0,34.7%,22.7%,19.6%,21.4%,588.0,560.0,568.0,99.2%

In [14]:
#Change start and end times to timedate data types
# Convert object columns to time data type
df2['Start Time'] = pd.to_datetime(df2['Start Time'], format='%H:%M:%S').dt.time
df2['End Time'] = pd.to_datetime(df2['End Time'], format='%H:%M:%S').dt.time

In [15]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 385 entries, 0 to 384
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   School ID                    385 non-null    object
 1   School Name                  385 non-null    object
 2   Borough                      385 non-null    object
 3   Building Code                385 non-null    object
 4   Street Address               385 non-null    object
 5   City                         385 non-null    object
 6   State                        385 non-null    object
 7   Zip Code                     385 non-null    int64
 8   Latitude                     385 non-null    float64
 9   Longitude                    385 non-null    float64
 10  Phone Number                 385 non-null    object
 11  Start Time                   385 non-null    object
 12  End Time                     385 non-null    object
 13  Student Enrollment           385 non-null    float64
 14  Percent White                385 non-null    object
 15  Percent Black                385 non-null    object
 16  Percent Hispanic             385 non-null    object
 17  Percent Asian                385 non-null    object
 18  Average Score (SAT Math)     385 non-null    float64
 19  Average Score (SAT Reading)  385 non-null    float64
 20  Average Score (SAT Writing)  385 non-null    float64
 21  Percent Tested               385 non-null    object
dtypes: float64(6), int64(1), object(15)
memory usage: 66.3+ KB

In [13]:
df2

,School ID,School Name,Borough,Building Code,Street Address,City,State,Zip Code,Latitude,Longitude,...,End Time,Student Enrollment,Percent White,Percent Black,Percent Hispanic,Percent Asian,Average Score (SAT Math),Average Score (SAT Reading),Average Score (SAT Writing),Percent Tested
0,01M539,"New Explorations into Science, Technology and ...",Manhattan,M022,111 Columbia Street,Manhattan,NY,10002,40.71873,-73.97943,...,16:00:00,1735.0,28.6%,13.3%,18.0%,38.5%,657.0,601.0,601.0,91.0%
1,02M294,Essex Street Academy,Manhattan,M445,350 Grand Street,Manhattan,NY,10002,40.71687,-73.98953,...,14:45:00,358.0,11.7%,38.5%,41.3%,5.9%,395.0,411.0,387.0,78.9%
2,02M308,Lower Manhattan Arts Academy,Manhattan,M445,350 Grand Street,Manhattan,NY,10002,40.71687,-73.98953,...,15:00:00,383.0,3.1%,28.2%,56.9%,8.6%,418.0,428.0,415.0,65.1%
3,02M545,High School for Dual Language and Asian Studies,Manhattan,M445,350 Grand Street,Manhattan,NY,10002,40.71687,-73.98953,...,15:35:00,416.0,1.7%,3.1%,5.5%,88.9%,613.0,453.0,463.0,95.9%
4,01M292,Henry Street School for International Studies,Manhattan,M056,220 Henry Street,Manhattan,NY,10002,40.71376,-73.98526,...,15:30:00,255.0,3.9%,24.4%,56.6%,13.2%,410.0,406.0,381.0,59.7%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,27Q302,"Queens High School for Information, Research, ...",Queens,Q465,8-21 Bay 25th Street,Far Rockaway,NY,11691,40.60199,-73.76283,...,16:10:00,381.0,2.1%,49.1%,43.6%,4.2%,372.0,362.0,352.0,44.6%
381,27Q324,Rockaway Park High School for Environmental Su...,Queens,Q410,100-00 Beach Channel Drive,Rockaway Park,NY,11694,40.58601,-73.82309,...,15:30:00,368.0,14.7%,46.7%,30.2%,3.5%,357.0,381.0,376.0,38.5%
382,27Q262,Channel View School for Research,Queens,Q410,100-00 Beach Channel Drive,Rockaway Park,NY,11694,40.58601,-73.82309,...,15:04:00,683.0,10.7%,53.2%,29.1%,6.0%,427.0,430.0,423.0,76.6%
383,27Q351,Rockaway Collegiate High School,Queens,Q410,100-00 Beach Channel Drive,Rockaway Park,NY,11694,40.58601,-73.82309,...,16:20:00,397.0,3.8%,52.6%,33.5%,5.0%,399.0,403.0,405.0,46.5%
384,27Q323,Scholars' Academy,Queens,Q180,320 Beach 104th Street,Rockaway Park,NY,11694,40.58413,-73.82568,...,15:00:00,1302.0,34.7%,22.7%,19.6%,21.4%,588.0,560.0,568.0,99.2%

In [16]:
# Save the dataset to a CSV file
df2.to_csv('nyscores_clean.csv', index=False)